
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.card {
    border-radius: 0.25rem;
    padding: 40px;
}

form {
    min-width: 500px;
    max-width: 700px;
}
